swagger: '2.0'
info:
  title: Oval API
  description: 'An API to query race results from the [Bud Harris (Washington Blvd) Oval](http://www.acaracing.com/)'
  version: 0.1.0
  contact:
    name: Jacob Yundt
    email: jyundt@gmail.com
  license:
    name: GPL 2.0
    url: 'http://www.gnu.org/licenses/gpl-2.0.txt'
host: api.theoval.us
schemes:
  - http
basePath: /v0.1
produces:
  - application/json
paths:
  /races:
    get:
      summary: Race information
      description: |
        Returns an array of Race objects for every race in the database.
      responses:
        '200':
          description: A list of all races meeting any search criteria provided
          schema:
            type: array
            items:
              $ref: '#/definitions/Race'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      parameters:
        - in: query
          name: year
          description: The year (series) of the races to filter
          required: false
          type: integer
        - in: query
          name: category
          description: The category of the races to filter
          required: false
          type: string
        - in: query
          name: p_course
          description: Limit searches only to races using the p_course
          required: false
          type: boolean
        - in: query
          name: usac_permit
          description: The USAC permit of the race to filter
          required: false
          type: string
  '/races/{race_id}':
    get:
      summary: Race information for a specific race
      description: |
        Returns information from one race
      responses:
        '200':
          description: Information for one race
          schema:
            $ref: '#/definitions/Race'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      parameters:
        - name: race_id
          in: path
          description: The ID of the individual race
          required: true
          type: integer
  /riders:
    get:
      summary: Returns a list of all known riders
      description: |
        Returns an array of Rider objects for every rider in the database.
      responses:
        '200':
          description: A list of all riders meeting any search criteria provided
          schema:
            type: array
            items:
              $ref: '#/definitions/Rider'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      parameters:
        - in: query
          name: name
          description: The name of the riders to filter
          required: false
          type: string
        - in: query
          name: usac_license
          description: The USAC license of the riders to filter
          required: false
          type: integer
        - in: query
          name: birthdate
          description: The birthdate of the riders to filter
          required: false
          type: string
          format: date
  '/riders/{rider_id}':
    get:
      summary: Individual rider information
      description: |
        Specific information about an individual rider
      responses:
        '200':
          description: Information for one rider
          schema:
            $ref: '#/definitions/Rider'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      parameters:
        - name: rider_id
          in: path
          description: The ID of the individual rider
          required: true
          type: integer
  /categories:
    get:
      summary: List of race categories
      description: >
        Returns a JSON object (wrapper) that contains an array (of JSON objects) with
        the list of categories. Can optionally filter based on year to limit
        results.
      responses:
        '200':
          description: An object that contains the list of categories
          schema:
            type: object
            properties:
              categories:
                $ref: '#/definitions/Categories'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      parameters:
        - in: query
          name: year
          description: Limit searches to specified year
          required: false
          type: integer
  /rider_standings:
    get:
      summary: Individual rider standings (results)
      description: >
        Returns a JSON object with overall individual season standings with the
        option to limit results based on year or category.
      responses:
        '200':
          description: 'Returns nested JSON objects by year, then by category for individual rider standings.'
          schema:
            type: object
            properties:
              rider_standings:
                $ref: '#/definitions/RiderStandings'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      parameters:
        - in: query
          name: year
          description: The year (series) of the standings to filter
          required: false
          type: integer
        - in: query
          name: category_id
          description: The category ID of the standings to filter
          required: false
          type: integer
  /team_standings:
    get:
      summary: Team standings (results)
      description: >
        Returns a JSON object with overall team season standings with the option
        to limit results based on year or category.
      responses:
        '200':
          description: 'Returns nested JSON objects by year, then by category for team standings.'
          schema:
            type: object
            properties:
              team_standings:
                $ref: '#/definitions/TeamStandings'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      parameters:
        - in: query
          name: year
          description: The year (series) of the standings to filter
          required: false
          type: integer
        - in: query
          name: category_id
          description: The category ID of the standings to filter
          required: false
          type: integer
  /mar_standings:
    get:
      summary: MAR standings (results)
      description: >
        Returns a JSON object with overall MAR season standings with the option
        to limit results based on year or category.
      responses:
        '200':
          description: 'Returns nested JSON objects by year, then by category for MAR standings.'
          schema:
            type: object
            properties:
              mar_standings:
                $ref: '#/definitions/MARStandings'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      parameters:
        - in: query
          name: year
          description: The year (series) of the standings to filter
          required: false
          type: integer
        - in: query
          name: category_id
          description: The category ID of the standings to filter
          required: false
          type: integer
definitions:
  Categories:
    description: An array (list) of JSON objects containing race categories.
    type: array
    items:
      description: JSON objects with category information
      type: object
      properties:
        category:
          type: string
          example: A
        category_id:
          type: integer
          example: 1
    example:
      -
        category: A
        category_id: 1
      -
        category: B
        category_id: 2
  Race:
    description: 'A JSON object that contains all of the information about a race, such as primes, riders, laps, etc.'
    properties:
      race_id:
        description: A unique integer index for each race.
        type: integer
        example: 1
      officials:
        items:
          description: The name of one of the USAC officials.
          type: string
        description: An array of strings listing the officials for the race.
        type: array
        example:
          - Kurt Kearcher
          - Nikki Berrian
      primes:
        description: An array of objects containing prime information.
        type: array
        items:
          type: object
          properties:
            name:
              description: The winner of the prime
              type: string
              example: Morgan Baker
            prime:
              description: The prime (prize)
              type: string
              example: Point Prime
      laps:
        description: The number of laps in the race.
        type: integer
        example: 40
      location:
        description: The location of the race.
        type: string
        example: Bud Harris Bike Park
      mar:
        description: Array of objects containing MAR (most aggressive rider) information.
        type: array
        items:
          type: object
          properties:
            mar_place:
              description: 'The MAR placement (e.g. 1st, 2nd, 3rd) for the race.'
              type: integer
              example: 1
            name:
              description: The name of the rider
              type: string
              example: Frankie Ross
            team:
              description: The team of the rider (if any).
              type: string
              example: Sette Nove
            mar_points:
              description: MAR points received for the race (if any).
              type: integer
              example: 3
      date:
        description: The date of the race.
        type: string
        format: date
        example: 2015-08-26T00:00:00.000Z
      fast_lap:
        description: 'The time of the fastest lap in the race (MM:SS).'
        type: string
        example: '0:59'
      avg_lap:
        description: 'The average lap time in the race (MM:SS).'
        type: string
        example: '1:08'
      riders:
        description: An array of objects containing all of the information for all of the riders of this race.
        type: array
        items:
          type: object
          properties:
            time:
              description: The finishing time for the rider.
              type: string
              example: '45:23'
            name:
              description: The name of the rider.
              type: string
              example: John Heffner
            place:
              description: 'The finishing placement (e.g. 1st, 2nd, 3rd) of the rider for the race.'
              type: integer
              example: '1'
            points:
              description: Series points received for the race (if any).
              type: integer
              example: 10
            team:
              description: The team of the rider (if any).
              type: string
              example: CAT Racing
            team_points:
              description: Team series points received for the race (if any).
              type: integer
              example: 10
      usac_permit:
        description: The USAC license number for the race.
        type: string
        example: 2015-618
      p_course:
        description: Was the race using the p-course?
        type: boolean
        example: false
      weather:
        description: The weather during the race.
        type: string
        example: '68 °F, cool, cloudy'
      starters:
        description: The number of riders who started (but not necessarily finished) the race.
        type: integer
        example: 25
      slow_lap:
        description: 'The slowest lap of the race (MM:SS).'
        type: string
        example: '1:14'
      category:
        description: 'The category of the race (e.g. A, B, C)'
        type: string
        example: A
      marshals:
        description: An array of strings listing the marshals for the race.
        type: array
        items:
          description: The name of the marshal.
          type: string
  Rider:
    description: A JSON object that contains limited information about an individual rider.
    properties:
      name:
        description: The name of the rider
        type: string
        example: Jacob Yundt
      usac_license:
        description: The USAC licernse for the rider
        type: integer
        example: 277281
      birthdate:
        description: The birthdate of the rider
        type: string
        format: date
        example: 1986-01-27T00:00:00.000Z
      rider_id:
        description: A unique integer index for each rider
        type: integer
        example: 1
  RiderResult:
    description: A JSON object that contains information about one result. This would typically appear in an array of RiderResult objects to create a result for a season or race.
    type: object
    properties:
      rider_place:
        description: The place (e.g. rank) of the rider
        type: integer
        example: 14
      rider_name:
        description: The name of the rider
        type: string
        example: Jacob Yundt
      rider_team:
        description: The team of the rider
        type: string
        example: CAT Racing
      rider_points:
        description: The points of the rider
        type: integer
        example: 10
  TeamResult:
    description: A JSON object that contains information about one result for a team. This would typically appear in an array of TeamResult objects to create a result for a season or race.
    type: object
    properties:
      team_place:
        description: The place (e.g. rank) of the team
        type: integer
        example: 3
      team_name:
        description: The name of the team
        type: string
        example: CAT Racing
      team_points:
        description: The points of the team
        type: integer
        example: 92
  MARResult:
    description: A JSON object that contains information about one MAR result. This would typically appear in an array of MARResult objects to create a result for a season or race.
    type: object
    properties:
      mar_place:
        description: The place (e.g. rank) of the MAR rider
        type: integer
        example: 1
      mar_name:
        description: The name of the MAR rider
        type: string
        example: Shawn Litster
      mar_team:
        description: The team of the MAR rider
        type: string
        example: NovaCare
      mar_points:
        description: The points of the MAR rider
        type: integer
        example: 19
  RiderStandings:
    description: Top level array containing individual RiderResult objects.
    type: array
    items:
      type: object
      description: 'Object with category, category_id, year and individual rider information.'
      properties:
        category:
          type: string
          description: The race category of the standings (results)
          example: A
        category_id:
          type: integer
          description: The unique category ID number of the race category.
          example: 1
        year:
          type: integer
          description: The year (season) of the race standings (result).
          example: 2015
        riders:
          type: array
          items:
            $ref: '#/definitions/RiderResult'
  TeamStandings:
    description: Top level array containing individual Team objects.
    type: array
    items:
      type: object
      description: 'Object with category, category_id, year and team information.'
      properties:
        category:
          type: string
          description: The race category of the standings (results)
          example: A
        category_id:
          type: integer
          description: The unique category ID number of the race category.
          example: 1
        year:
          type: integer
          description: The year (season) of the race standings (result).
          example: 2015
        teams:
          type: array
          items:
            $ref: '#/definitions/TeamResult'
  MARStandings:
    description: Top level array containing individual MAR objects.
    type: array
    items:
      type: object
      description: 'Object with category, category_id, year and MAR information.'
      properties:
        category:
          type: string
          description: The race category of the standings (results)
          example: A
        category_id:
          type: integer
          description: The unique category ID number of the race category.
          example: 1
        year:
          type: integer
          description: The year (season) of the race standings (result).
          example: 2015
        teams:
          type: array
          items:
            $ref: '#/definitions/MARResult'
  Error:
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string

